.botao-assentos {
    width: 225px;
    height: 43px;
    background: #E8833A;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    margin-right: 9px;
}
.botao-container{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.titulo-comprador {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #293845;
}

input {
    width: 327px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}
input::placeholder {
    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: #AFAFAF;
}
.dados-comprador {
    margin-left: 24px;
    margin-bottom: 57px;
}

.assento {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
    color: #000000
}
.grade-container {
    margin-bottom: 45px;
}
.grade {
    display: grid;
    margin-left: 24px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    row-gap: 15px;
}
.selecionado {
    width: 25px;
    height: 25px;
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
    border-radius: 17px;
    margin: auto;
    margin-bottom: 5px;
}
.disponivel {
    width: 25px;
    height: 25px;
    border-radius: 17px;
    background: #C3CFD9;
    border: 1px solid #7B8B99;
    margin: auto;
    margin-bottom: 5px;
}
.indisponivel {
    width: 25px;
    height: 25px;
    border-radius: 17px;
    background: #FBE192;
    border: 1px solid #F7C52B;
    margin: auto;
    margin-bottom: 5px;
}
.legendas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}
.legenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
span {
    font-family: 'Roboto',sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;
    color: #4E5A65;
}