.header {
    height: 67px;
    width: 100vw;
    background-color: #c3cfd9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d99f76;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    line-height: 40px;
}